<!DOCTYPE html>
<html lang="en" ng-app="scotchApp">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Help Desk Forms</title>
      
      <link rel="stylesheet" type="text/css" href="res/semantic-ui/semantic.min.css">
      <link rel="stylesheet" type="text/css" href="node_modules/noty/lib/noty.css">
      
      <!-- Insert this line above script imports  -->
      <script type="text/javascript">if(typeof module === 'object') {window.module = module; module = undefined;}</script>
      <!--LIBRARIES-->
      <script type="text/javascript" src="node_modules/lockr/lockr.min.js" ></script>
      <script type="text/javascript" src="node_modules/blueimp-md5/js/md5.min.js"></script>
      <script type="text/javascript" src="node_modules/printj/dist/printj.min.js"></script>
      <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>

      <script type="text/javascript" src="node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
      <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
      <script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
      <script type="text/javascript" src="node_modules/noty/lib/noty.min.js"></script>
      
      <script type="text/javascript" src="data.js"></script>
      <script type="text/javascript" src="app.js"></script>
      <script type="text/javascript" src="db.js"></script>
      <script type="text/javascript" src="ui.js"></script>

      <script type="text/javascript" src="scripts/bundle.js"></script>
      <script type="text/javascript" src="scripts/defiant.min.js"></script>

      <script type="text/javascript" src="scripts/index.js"></script>
      
      <!-- Insert this line after script imports -->
      <script type="text/javascript">if (window.module) module = window.module;</script>
      <!--END SCRIPTS-->
  </head>
  <!-- define angular controller -->
  <body ng-controller="mainController">
    <!--MAIN-->
    <div class="ui attached stackable menu">
      <div class="ui container">
        <a class="item">
          <i class="home icon"></i> Home
        </a>
        <a class="item" href="#!/customer">
          <i class="grid layout icon"></i> Customers
        </a>
        <a class="item" href="#!/request">
          <i class="mail icon"></i> Stored Requests
        </a>
        <div class="ui simple dropdown item">
          Requests
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#!/intake"><i class="edit icon"></i> Device Intake Form</a>
            <a class="item" href="#!/only"><i class="globe icon"></i> Only G113 Support/Service Form</a>
            <a class="item" href="#!/release"><i class="settings icon"></i> Device Release Form</a>
          </div>
        </div>
        <div class="ui simple dropdown item">
            About
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" ng-click="bug()"><i class="edit icon"></i> Bugs</a>
            <a class="item" ng-click="addon()"><i class="globe icon"></i> Suggestions</a>
            <a class="item" ng-click="about()"><i class="settings icon"></i> About</a>
          </div>
        </div>

        <!--
        <a  class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-remove-sign"></i> Bugs</a>
        <a  class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-remove-sign"></i> About</a>
        <a  class="btn btn-success btn-lg"><i class="glyphicon glyphicon-thumbs-up"></i> </a>
        <a  class="btn btn-info btn-lg"><i class="glyphicon glyphicon-wrench"></i> Stored Requests</a>
        <a class="btn btn-info btn-lg"><i class="glyphicon glyphicon-wrench"></i> Customers</a>
        -->
        

      </div>
    </div>

    <div class="ui one column grid centered">
      <div class="row" style="margin-top: 5%;">
          <img class="new" src="res/logo.png">
      </div>
      
      <div ng-view></div>
    </div>
  </body>
</html>