<div class="container" ng-controller="addCustomerController">
    <div class="row">
        <h3>Customers - {{ semester }}</h3>
    </div>

    <div class="row alert alert-danger" role="alert">
        <span class="asp">*</span> Required
    </div>

    <!--FORM-->
    <form class="ui form" name="data" ng-submit="save(only)" novalidate>

            <div class="field" ng-class="{'has-error' : !checkTicket(only.ticketNumber.$viewValue) || (only.ticketNumber.$invalid && !only.ticketNumber.$pristine), 'form-group': true}">
                <label for="name">Customer Name <span class="asp">*</span></label>
                <input type="text" class="form-control" id="name" name="name" ng-model="customer.name" required>
                <div class="text-danger" ng-show="customer.name.$invalid && !customer.name.$pristine">Customer Name is required.</div>
            </div>
            
            <div class="field">
                <label for="studentType">Student or Faculty <span class="asp">*</span></label>
                <br>
                <label class="radio-inline">
                    <input type="radio" ng-model="customer.studentType" ng-change="change(studentType)" name="studentType" id="studentTypeStudent" value="student" ng-checked="true"> Student
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="customer.studentType" ng-change="change(studentType)" name="studentType" id="studentTypeFaculty" value="faculty"> Faculty
                </label>
            </div>
            
            <div class="field">
                <label for="studentNumber">Student ID number (if Faculty, put N/A) <span class="asp">*</span></label>
                <input class="form-control" ng-model="customer.studentNumber" ng-value="number" type="text" id="studentNumber" name="studentNumber" ng-readonly="studentType == 'faculty'" ng-pattern="regex" required>
                <div class="text-danger" ng-show="customer.studentNumber.$invalid && !customer.studentNumber.$pristine">Student Number is required in the format (999999999).</div>
                <div class="text-danger" ng-show="customer.studentNumber.$viewValue != 'N/A' && studentNumbers.indexOf(customer.studentNumber.$viewValue) !== -1 && !customer.studentNumber.$pristine">Student number is already used.</div>
            </div>
            
            <div class="field">
                <label for="phoneNumber">Phone number <span class="asp">*</span></label>
                <input type="text" class="form-control" pattern="\([0-9]{3}\)[0-9]{3}-[0-9]{4}" id="phoneNumber" name="phoneNumber" ng-model="customer.phoneNumber" required>
                <div class="text-danger" ng-show="customer.phoneNumber.$invalid && !customer.phoneNumber.$pristine">Phone Number is required.</div>
            </div>
            
            <div class="field">
                <label for="emailAddress">Email address <span class="asp">*</span></label>
                <input type="email" class="form-control" id="emailAddress" name="emailAddress" ng-model="customer.emailAddress" required>
                <div class="text-danger" ng-show="(customer.emailAddress.$error.email || customer.emailAddress.$invalid) && !customer.emailAddress.$pristine">A valid email address is required.</div>
                <div class="text-danger" ng-show="emails.indexOf(customer.emailAddress.$viewValue) != -1 && !customer.emailAddress.$pristine">The email address is already used.</div>
            </div>
                                    
            <button class="ui button" type="submit" ng-disabled="data.$invalid">Submit</button>
            <a class="ui button" type="button" href="#!/main">Go Back</a>
    </form>
    <!--END FORM-->
</div>
