<link rel="stylesheet" href="scripts/login.css">

<div class="container" id="loginLy" ng-controller="loginController">
    <div class="card card-container">
        <!--  -->
        <div class="users form">
            <p><!--SESSION--></p>
            <img id="profile-img" class="profile-img-card" src="res/logo.jpg" />
            
            <p id="profile-name" class="profile-name-card">FVTC Student Help Desk - Login - {{ semester }}</p>
            <form name="login" ng-submit="sendLogin(login.user.$viewValue, login.password.$viewValue)" novalidate>    
                <h2>{{ user.$viewValue }}</h2>
                <h2>{{ password.$viewValue }}</h2>
                <div class="form-group">
                    <label for="user">User</label><span class="ast"> *</span>
                    <input ng-model="user" type="text" class="form-control" name="user" id="user" required>    
                    <div class="text-danger" ng-show="login.user.$invalid && !login.user.$pristine">Username is required</div>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label><span class="ast"> *</span>
                    <input ng-model="password" type="password" class="form-control" name="password" id="password" required>    
                    <div class="text-danger" ng-show="login.password.$invalid && !login.password.$pristine">Password is required.</div>
                </div>

               
                <hr>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit" ng-disabled="login.$invalid"><span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>&nbsp;Login</button>
                </div>
            </form>
            <hr>
            <a ng-click="forgotPassword()" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div>
</div><!-- /container -->

<!--<?php echo $this->Form->submit('Login', array('class' => 'btn btn-primary', 'div' => array('class' => 'text-center'))) ?>
<?php echo $this->Form->end(); ?>-->

<!--<?php
    echo $this->Form->input('email', array('div'=>array('class'=>'form-group'),'placeholder' => 'E-mail', 'class' => 'form-control'));
    echo $this->Form->input('password', array('div'=>array('class'=>'form-group'),'placeholder' => 'Password', 'class' => 'form-control'));
?>-->

<!--<div id="remember" class="checkbox">
    <label>
        <input type="checkbox" value="remember-me"> Remember me
    </label>
</div>-->

<!--<div id="settingLy" class="container" ng-controller="loginController">
    <div class="row text-center">
        <div class="col-md-12">
            <img class="new" src="res/logo.png">
            <h3 class="text-center">Login - {{ semester }}</h3>
        </div>
    </div>
    
    <div class="align-content-md-center">
        <form name="setting" ng-submit="login()" novalidate>
            <div class="form-group row">
                <label for="user">User</label><span class="ast"> *</span>
                <input ng-model="user" type="text" class="form-control" name="user" id="user" required>    
                <div class="text-danger" ng-show="setting.user.$invalid && !setting.user.$pristine">Username is required</div>
            </div>
            
            <div class="form-group row">
                <label for="password">Password</label><span class="ast"> *</span>
                <input ng-model="password" type="password" class="form-control" name="password" id="password" required>    
                <div class="text-danger" ng-show="setting.password.$invalid && !setting.password.$pristine">Password is required.</div>
            </div>

            
            <div class="text-center">
                <button ng-click="someFunc()" class="btn btn-primary" type="submit" ng-disabled="setting.$invalid"><span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>&nbsp;Login</button>
            </div>
        </form>
    </div>
</div>-->
