<div class="container text-center" id="mainLy">
    <div class="row text-right">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <img class="new" src="res/logo.png">
            <h3>IT Student Help Desk Forms - {{ semester }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#!/intake" class="btn btn-primary btn-lg">Device Intake Form</a>
            <a href="#!/only" class="btn btn-primary btn-lg">Only G113 Support/Service Form</a>
            <a href="#!/release" class="btn btn-primary btn-lg">Device Release Form</a>
        </div>
    </div>
    
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a ng-click="addon()" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-thumbs-up"></i> Suggestions</a>
            <a href="#!/request" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-wrench"></i> Stored Requests</a>
            <a href="#!/customer" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-wrench"></i> Customers</a>
            <a ng-click="bug()" class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-remove-sign"></i> Bugs</a>
            <a ng-click="about()" class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-remove-sign"></i> About</a>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">        
            <a href="#!/settings" ng-show="session.role == 'admin'" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-wrench"></i> Settings</a>
            <a href="#!/user" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-user"></i> Users</a>
            <!--
            <a href="#!/settings"  class="btn btn-info btn-lg"><i class="glyphicon glyphicon-wrench"></i> Settings</a>
            <a href="#!/user" ng-show="role == 'admin'" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-user"></i> Users</a>
            -->
        </div>
    </div>
</div>