<div class="ui text container">
    <div ng-controller="customerFormCtrl">
        <div class="ui center aligned container">
            <h3>Customers - {{ semester }}</h3>
            <span class="req">*</span> Required    
        </div>
        <br>
        <!--FORM-->
        <form class="ui form" name="data" ng-submit="save()" novalidate>
            <h4 class="ui dividing header">Add a new customer</h4>

            <div class="field">
                <label for="name">Customer Name <span class="req">*</span></label>
                <input type="text" class="form-control" id="name" name="name" ng-model="customer.name" required>
            </div>
            <div class="grouped fields">
                <label for="studentType">Student or Faculty <span class="req">*</span></label>
                
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="type" ng-model="customer.type" value="faculty" id="typeFaculty">
                    <label>Faculty</label>
                    </div>
                </div>
                
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="type" ng-model="customer.type" value="student" id="typeStudent"> 
                    <label>Student</label>
                    </div>
                </div>
            </div>
            
            <div class="field">
                <label for="studentNumber">Student ID number (if Faculty, put N/A) <span class="asp">*</span></label>
                <input class="form-control" ng-model="customer.studentNumber" ng-value="customer.type == 'faculty' ? 'N/A' : ''" type="text" id="studentNumber" name="studentNumber" ng-readonly="customer.type == 'faculty'" ng-pattern="customer.type == 'faculty' ? regexFaculty : regexStudent" required>
            </div>

            <div class="field">
                <label for="phone">Phone number <span class="req">*</span></label>
                <input type="text" class="form-control" pattern="\([0-9]{3}\)[0-9]{3}-[0-9]{4}" id="phone" name="phone" ng-model="customer.phone" required>
            </div>
            
            <div class="field">
                <label for="email">Email address <span class="req">*</span></label>
                <input type="email" class="form-control" id="email" name="email" ng-model="customer.email" required>
            </div>

            <div class="ui center aligned container">
                <button class="ui primary button" type="submit" ng-disabled="isSameEmail(customer.email) || isSameNumber(customer.studentNumber) || data.$invalid">Submit</button>
                <a class="ui danger button" onclick="goBack()">Go Back</a>    
            </div>        
        </form>
    </div>
</div>