<div class="ui text container">
    <div ng-controller="customerFormCtrl">
        <div class="ui center aligned container">
            <h3>Customers - {{ semester }}</h3>
            <span class="req">*</span> Required    
        </div>
        <br>
        <!--FORM-->
        <form class="ui form" name="data" ng-submit="save()" novalidate>
            <h4 class="ui dividing header">Add a new customer</h4>

            <div class="field">
                <label for="name">Customer Name <span class="req">*</span></label>
                <input type="text" class="form-control" id="name" name="name" ng-model="customer.name" required>

                <div class="req" ng-if="data.name.$dirty && !data.name.$valid">This field is required</div>
            </div>
            
            <div class="grouped fields">
                <label for="studentType">Student or Faculty <span class="req">*</span></label>
                
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="type" ng-model="customer.type" value="Faculty" id="typeFaculty">
                    <label>Faculty</label>
                    </div>
                </div>
                
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="type" ng-model="customer.type" value="Student" id="typeStudent"> 
                    <label>Student</label>
                    </div>
                </div>

                <div class="req" ng-if="data.type.$dirty && !data.type.$valid">This field is required</div>
            </div>

            <div class="field">
                <label for="phone">Phone number <span class="req">*</span></label>
                <input type="text" class="form-control" pattern="\([0-9]{3}\)[0-9]{3}-[0-9]{4}" id="phone" name="phone" ng-model="customer.phone" required>

                <div class="req" ng-if="data.phone.$dirty && !data.phone.$valid">This field is required in the following format (999)999-9999</div>
            </div>
            
            <div class="field">
                <label for="email">Email address <span class="req">*</span></label>
                <input type="email" class="form-control" id="email" name="email" ng-model="customer.email" required>

                <div class="req" ng-if="data.email.$dirty && !data.email.$valid">This field is required as a valid email</div>
            </div>

            <div class="ui center aligned container">
                <button class="ui primary button" type="submit" ng-disabled="data.$invalid || !customer.type"><i class="add circle icon"></i>&nbsp;Submit</button>
                <a class="ui danger button" onclick="goBack()"><i class="arrow left icon"></i>&nbsp;Go Back</a>    
            </div>        
        </form>
    </div>
</div>