<div  class="ui column grid centered">
    <div ng-controller="customerCtrl">
        <div class="row">
            <h3>Customers - {{ semester }}</h3>
        </div>

        <h2 ng-if="customers.length == 0" class="req">No customers stored.</h2>

        <table ng-if="customers.length > 0" class="ui compact celled definition table">
          <thead>
            <tr>
                <td></td>
                <td>Name</td>    
                <td>E-mail</td>    
                <td>Phone</td>    
                <td>Customer Type</td>   
                <td>Actions</td>   
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in customers">
                <td class="collapsing">
                    <div class="ui fitted slider checkbox item-check">
                      <input type="checkbox" name="select_{{x.id}}" ng-click="select(x.id)"><label></label>
                    </div>
                </td>
                
                <td>{{ x.name }}</td>
                <td>{{ x.email | isnull }}</td>
                <td>{{ x.phone | isnull }}</td>
                <td>{{ x.type  | capitalize }}</td>
                <td>
                    <a class="ui orange button" href="#!/edit_customer/{{ x.id }}"><i class="edit icon"></i>&nbsp;Edit</a>
                    &nbsp;
                    <a class="ui red button" ng-if="session.role == 'admin'" ng-click="actionDelete(x.id)" ></span><i class="remove icon"></i>&nbsp;Delete</a>
                </td>
            </tr>
          </tbody>
          <tfoot class="full-width">
            <tr>
              <th></th>
              <th colspan="7">
                <button type="button" class="ui small button" ng-disabled="selected.length == 0" ng-click="actionDeleteSelected()">
                  <i class="remove circle icon"></i>&nbsp;Delete selected
                </button>

                <button type="button" class="ui small button" ng-click="actionDeleteAll()">
                  <i class="remove circle outline icon"></i>&nbsp;Delete all
                </button>
              </th>
            </tr>
          </tfoot>
        </table>

        <div class="row">
            <a class="ui primary button" href="#!/add_customer"><i class="add user icon"></i>&nbsp;Add  Customer</a>
            <a class="ui button" onclick="goBack()"><i class="arrow left icon"></i>&nbsp;Go Back</a>
        </div>
    </div>
</div>
