<!DOCTYPE html>
<html lang="en" ng-app="angApp">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Help Desk Forms</title>
      
      <link rel="stylesheet" type="text/css" href="../res/scripts/semantic.min.css">
      <link rel="stylesheet" type="text/css" href="../res/scripts/spop.min.css">
      <link rel="stylesheet" type="text/css" href="../res/scripts/jquery-confirm.min.css">
      <link rel="stylesheet" type="text/css" href="../res/scripts/custom/app.css">

      <!-- Insert this line above script imports  -->
      <script type="text/javascript">if(typeof module === 'object') {window.module = module; module = undefined;}</script>
      <!--LIBRARIES-->
      <script type="text/javascript" src="../res/scripts/lockr.min.js" ></script>
      <script type="text/javascript" src="../res/scripts/md5.min.js"></script>
      <script type="text/javascript" src="../res/scripts/printj.min.js"></script>
      <script type="text/javascript" src="../res/scripts/jquery.min.js"></script>
      <script type="text/javascript" src="../res/scripts/jquery-confirm.min.js"></script>
      <script type="text/javascript" src="../res/scripts/angular.min.js"></script>
      <script type="text/javascript" src="../res/scripts/angular-route.min.js"></script>
      <script type="text/javascript" src="../res/scripts/angular-confirm.min.js"></script>
      <script type="text/javascript" src="../res/scripts/ngMask.min.js"></script>
      <script type="text/javascript" src="../res/scripts/spop.min.js"></script>
      <script type="text/javascript" src="../res/scripts/semantic.min.js"></script>
      
      <script type="text/javascript" src="../res/scripts/custom/db.js"></script>
      <script type="text/javascript" src="../res/scripts/bundle.js"></script>
      <script type="text/javascript" src="../res/scripts/defiant.min.js"></script>
      <script type="text/javascript" src="../res/scripts/custom/index.js"></script>

      <script type="text/javascript" src="../controllers/customerCtrl.js"></script>
      <script type="text/javascript" src="../controllers/requestCtrl.js"></script>
      <script type="text/javascript" src="../controllers/settingCtrl.js"></script>
      <script type="text/javascript" src="../controllers/menuCtrl.js"></script>
      <script type="text/javascript" src="../controllers/userCtrl.js"></script>
      <!-- Insert this line after script imports -->
      <script type="text/javascript">if (window.module) module = window.module;</script>
      <!--END SCRIPTS-->
      <!-- define angular controller -->      
  </head>
  <!-- define angular controller -->
  <body >
    <!--MAIN-->
    <div ng-controller="menuCtrl">
      <div class="ui top attached menu" >
          <a class="item" href="#!/">
            <i class="home icon"></i> Home
          </a>
          <a class="item" href="#!/customer">
            <i class="grid layout icon"></i> Customers
          </a>

          <a class="item" ng-if="session.role == 'admin'" href="#!/user">
            <i class="pencil icon"></i> Users
          </a>

          <div class="ui simple dropdown item">
            Requests
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="#!/only"><i class="globe icon"></i> G113 Support/Service</a>
              <a class="item" href="#!/intake"><i class="edit icon"></i> Device Intake</a>
              <a class="item" href="#!/work_order"><i class="checkmark box icon"></i> Device Work Order</a>
              <a class="item" href="#!/release"><i class="checkmark box icon"></i> Device Release</a>
              <div class="ui divider"></div>
              <a class="item" href="#!/request"><i class="archive icon"></i> Stored requests</a>
            </div>
          </div>

          <div class="ui simple dropdown item">
              Settings
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" ng-click="refreshRequesters()"><i class="refresh icon"></i> Syncronize technicians list</div>
              <div class="item" ng-click="refreshRequests()"><i class="refresh icon"></i> Syncronize requests list</div>
              <div class="ui divider"></div>
              <a class="item" href="#!/settings" ng-if="session.role == 'admin'"><i class="settings icon"></i> Settings</a>
              <a class="item" ng-click="about()"><i class="globe icon"></i> About</a>
            </div>

          </div>

          <div class="ui simple dropdown right aligned category item">
            <i class="user icon"></i>&nbsp;{{ session.username }}
            <i class="dropdown icon"></i>
            
            <div class="menu">
              <a class="item" href="#!/edit_user/{{session.id}}"><i class="pencil icon"></i> User data</a>
              <a class="item" href="#" ng-click="logout()"><i class="log out icon"></i> Logout</a>
            </div>
          </div>
      </div>
      <!--CONTENT-->

      <!--Modal about-->
      <div class="ui modal" id="about">
        <div class="header">About</div>
        <div class="content">
          <p>Developed by:</p>
          <p>
            <ul>
              <li><a href="mailto:ddanielsilva661@email.com">Daniel Farias</a></li>
              <li><a href="mailto:moline@fvtc.edu">Erik Moline</a></li>
              <li><a href="mailto:nkululekomasombuka@gmail.com ">Nkululeko Massombuka</a></li>
            </ul>
          </p>
        </div>
      </div>
      <!--End Modal About-->

      <!--Modal no open requests-->
      <div class="ui modal" id="open_requests">
        <div class="header">Requests</div>
        <div class="content">
          <p>No open requests found</p>
        </div>
      </div>
      <!--End Modal no open requests-->

      <!--Modal no stored requests-->
      <div class="ui modal" id="stored_requests">
        <div class="header">Requests</div>
        <div class="content">
          <p>No stored requests found</p>
        </div>
      </div>
      <!--End Modal no stored requests-->

      <!--MENU-->
      <div class="ui text container">
        <div class="ui center aligned container" style="margin-top: 5%;margin-bottom: 5%;">
            <img class="new" src="../res/logo.png">
        </div>
      </div>
    </div>
    <!--END MENU-->
    <div ng-view></div>
  </body>
</html>