<div  class="ui column grid centered">
  <div ng-controller="requestCtrl">
      <div class="row">
            <h3>Stored Requests - {{ semester }}</h3>
      </div>
      
      <table class="ui celled table">
        <thead>
            <tr>
              <td>Input</td>    
              <td>Status</td>    
              <td>Actions</td>    
            </tr>
        </thead>
        <tbody>
            <tr ng-show="storedRequests.length == 0">
              <td colspan="3" class="text-center">No requests</td>
            </tr>
            <tr ng-repeat="x in storedRequests">
              <td>{{ x.input }}</td>
              <td>{{ x.code }}</td>
              <td>
                <a class="ui button" ng-click="resend(x.id, x.input)">Send</a>&nbsp;
                <a class="ui button" ng-show="session.role == 'admin'" ng-click="delete(x.id)">Delete</a>
              </td>
            </tr>
        </tbody>
      </table>
      
      <div class="row">
          <a class="ui button" href="#" onclick="goBack()">&nbsp;Go Back</a>
      </div>

      <!--Modal no requests-->
      <div class="ui modal" id="no_requests">
        <div class="header">No open requests</div>
        <div class="content">
          <p>No stored requests</p>
        </div>
      </div>
      <!--END-->
  </div>
</div>