<div class="ui text container dist-bottom">
    <div ng-controller="onlyCtrl">
        <div class="ui center aligned container">
            <h3>Only G113 Support/Service Provided Form - {{ semester }}<span class="title"></span></h3>
            <span class="req">*</span> Required
        </div>
        
        <div class="grouped fields">
            <label for="idVerified">ID Verified <span class="req">*</span></label>
            
            <div class="field">
                <div class="ui radio checkbox">
                <input type="radio" name="idVerified" ng-model="idVerified" value="Yes" id="idVerifiedYes">
                <label>Yes</label>
                </div>
            </div>
            
            <div class="field">
                <div class="ui radio checkbox">
                <input type="radio" name="idVerified" ng-model="idVerified" value="No" id="idVerifiedNo"> 
                <label>No</label>
                </div>
            </div>
        </div>

        <br>
        
        <form class="ui {{state}} form" name="data" ng-submit="save()" ng-show="idVerified == 'Yes'" novalidate>

            <div class="field">
                <label for="technician">Technician <span class="req">*</span></label>
                <select name="technician" ng-model="onlyRequest.technician" ng-options="technician as technician for technician in technicians" id="technician">
                </select>
            </div>

            <!--CUSTOMER-->
            <div class="field">
                <label for="name">Customer Name <span class="req">*</span></label>
                <input type="text" class="form-control" id="name" name="name" ng-model="onlyRequest.customer.name" required>

                <div class="req" ng-if="data.name.$dirty && !data.name.$valid">This field is required</div>
            </div>
            
            <div class="grouped fields">
                <label for="studentType">Student or Faculty <span class="req">*</span></label>
                
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="type" ng-model="onlyRequest.customer.type" value="Faculty" id="typeFaculty">
                    <label>Faculty</label>
                    </div>
                </div>
                
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="type" ng-model="onlyRequest.customer.type" value="Student" id="typeStudent"> 
                    <label>Student</label>
                    </div>
                </div>

                <div class="req" ng-if="data.type.$dirty && !data.type.$valid">This field is required</div>
            </div>

            <!--CUSTOMER-->

            <div class="field">
                <label for="deviceType">Device Type <span class="req">*</span></label>
                <select name="deviceType" ng-model="onlyRequest.deviceType" ng-options="deviceType.value as deviceType.value for deviceType in deviceTypes" id="deviceType" required>
                </select>
            </div>

            <div class="field">
                <label for="description">Description of the Device Problem(s) or General Question(s) <span class="req">*</span></label>
                <textarea class="form-control" id="description" name="description" ng-model="onlyRequest.description" rows="5" required></textarea>

                <div class="req" ng-if="data.description.$dirty && !data.description.$valid">This field is required</div>
            </div>

            <div class="field">
                <label for="category">Select a category <span class="req">*</span></label>
                <select name="category" ng-model="onlyRequest.category" ng-options="option.value as option.value for option in categories" id="category">
                </select>
            </div>

            <div class="grouped fields">
                <label for="wereSolved">Were the device problem(s) or general question(s) resolved? <span class="req">*</span></label>
                
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="wereSolved" ng-model="onlyRequest.wereSolved" value="Resolved" id="wereSolvedResolved">
                    <label>Resolved</label>
                    </div>
                </div>
                
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="wereSolved" ng-model="onlyRequest.wereSolved" value="Unresolved" id="wereSolvedUnresolved"> 
                    <label>Unresolved</label>
                    </div>
                </div>
            </div>
            
            <div class="field">
                <label for="solution">How were the device problem(s) or general question(s) resolved?</label>
                <textarea class="form-control" id="solution" name="solution" rows="5" ng-model="onlyRequest.solution"></textarea>
            </div>

            <div class="ui center aligned container">
                <button class="ui primary button" type="submit" ng-disabled="data.$invalid"><i class="add circle icon"></i>&nbsp;Submit</button>
                <a class="ui button" ng-click="goBack()" href="#"><i class="arrow left icon"></i>&nbsp;Go Back</a>
            </div>
        </form>
        <!---->
        <a class="ui button" ng-click="goBack()" ng-show="idVerified == 'No'" href="#"><i class="arrow left icon"></i>&nbsp;Go Back</a>
    </div>
</div>