<div  class="ui {{state}} column grid centered">
  <div ng-controller="requestCtrl">
      <div class="row">
            <h3>Stored Requests - {{ semester }}</h3>
      </div>
      
      <table class="ui celled table">
        <thead>
            <tr>
              <td>Input</td>    
              <td>Status</td>    
              <td>Actions</td>    
            </tr>
        </thead>
        <tbody>
            <tr ng-show="requests.length == 0">
              <td colspan="3" class="text-center">No requests</td>
            </tr>
            <tr ng-repeat="x in requests track by $index">
              <td>{{ x.parsed.operation.details.requesttemplate }} - {{ x.parsed.operation.details.subject }}</td>
              <td>{{ x.code }}</td>
              <td>
                <a class="ui button" ng-click="sendAgain($index, x.parsed)">Send</a>&nbsp;
                <a class="ui button" ng-show="session.role == 'admin'" ng-click="delete($index)">Delete</a>
              </td>
            </tr>
        </tbody>
      </table>
      
      <div class="row">
          <a class="ui button" href="#" onclick="goBack()">&nbsp;Go Back</a>
      </div>
  </div>
</div>