<div ng-controller="requestCtrl">
    <h3 class="text-center">Stored Requests - {{ semester }}<span class="title"></span></h3>
    
    <div class="row">
        <table class="ui celled table">
          <thead>
              <tr>
                <td>Input</td>    
                <td>Status</td>    
                <td>Actions</td>    
              </tr>
          </thead>
          <tbody>
              <tr ng-show="requests.length == 0">
                <td colspan="6" class="text-center">No requests</td>
              </tr>
              <tr ng-repeat="x in requests">
                <td>{{ x.input }}</td>
                <td>{{ x.code }}</td>
                <td>
                  <a class="ui button" ng-click="resend(x.id, x.input)">Send</a>&nbsp;
                  <a class="ui button" ng-show="session.role == 'admin'" ng-click="delete(x.id)">Delete</a>
                </td>
              </tr>
          </tbody>
        </table>
    </div>
    
    <div class="row">
        <a class="btn btn-primary" href="#!/main"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" ></span>&nbsp;Go Back</a>
    </div>
</div>