<div class="ui text container">
    <div ng-controller="settingsCtrl">
        <div class="ui center aligned container">
            <h3>Settings - {{ semester }}</h3>
        </div>
        <br>
        <!--FORM-->
        <form class="ui form" name="data" ng-submit="save()" novalidate>
            <h4 class="ui dividing header">Edit settings</h4>

            <div class="field">
                <label for="semester">Semester / Year&nbsp;<span class="req">*</span></label>
                <input ng-model="settings.semester" type="text" class="form-control" name="semester" id="semester" pattern="([a-zA-Z]*\s\d{4})" required>
            </div>

            <div class="field">
                <label for="semester">Ip&nbsp;<span class="req">*</span></label>
                <input ng-model="settings.ip" type="text" class="form-control" name="ip" id="ip" pattern="" required>
            </div>

            <div class="field">
                <label for="semester">API Key&nbsp;<span class="req">*</span></label>
                <input ng-model="settings.key" type="text" class="form-control" name="key" id="key" pattern="" required>
            </div>

            <div class="ui center aligned container">
                <button class="ui primary button" type="submit" ng-disabled="data.$invalid"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Save</button>
                <a class="ui danger button" onclick="goBack()">Go Back</a>
            </div>
        </form>
    </div>
</div>
