<div class="ui text container dist-bottom">
    <div ng-controller="userFormCtrl">
        <div class="ui center aligned container">
            <h3>Users - {{ semester }}</h3>
            <span class="req">*</span> Required    
        </div>
        <br>
        <!--FORM-->
        <form class="ui form" name="data" ng-submit="save()" novalidate>
            <h4 class="ui dividing header">{{ user.id ? 'Edit user data' :'Add a new user'}}</h4>

            <div ng-show="oldName != 'admin'">
                <div class="field">
                    <label for="username">Username <span class="req">*</span></label>
                    <input type="text" class="form-control" id="username" name="username" ng-model="user.username" required>
                    
                    <div class="req" ng-if="user.username.$invalid || isSameUsername(user.username)">The given username is already taken</div>
                </div>
            </div>

            <div class="field">
                <label for="technician">Technician</label>
                
                <select ng-readonly="session.role != 'admin'" name="technician" ng-model="user.technician" ng-options="technician as technician for technician in technicians" id="technician">
                </select>

                <div class="req" ng-if="user.technician.$invalid || isSameTechnician(user.technician)">The selected technician is already been used</div>
            </div>
            
            <div ng-show="session.role == 'admin' && oldName != 'admin'">
                <div class="grouped fields">
                    <label for="role">Role <span class="req">*</span></label>
                    
                    <div class="field">
                        <div class="ui radio checkbox">
                        <input type="radio" name="role" ng-model="user.role" value="admin" id="typeAdmin">
                        <label>Administrator</label>
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="ui radio checkbox">
                        <input type="radio" name="role" ng-model="user.role" value="user" id="typeUser"> 
                        <label>User</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="password">Password <span class="req">*</span></label>
                <input type="password" pattern=".*[0-9]+.*" ng-minlength="6" class="form-control" id="password" name="password" ng-model="user.password" required>

                <div class="req" ng-if="data.password.$dirty && !data.password.$valid">Password must have 6 digits and at least one number</div>
            </div> 

            <div class="field">
                <label for="confirm_password">Confirm password <span class="req">*</span></label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" ng-model="user.confirm_password" required>

                <div class="req" ng-if="data.confirm_password.$dirty && data.password.$viewValue != data.confirm_password.$viewValue">Confirmation must match to the password</div>
            </div>

            <div class="ui center aligned container">
                <button class="ui primary button" type="submit" ng-disabled="areDiferent(user.password, user.confirm_password) || isSameUsername(user.username)|| isSameTechnician(user.technician) || data.$invalid"><i class="add circle icon"></i>&nbsp;Submit</button>
                <a class="ui danger button" onclick="goBack()"><i class="arrow left icon"></i>&nbsp;Go Back</a>    
            </div>        
        </form>
    </div>
</div>